resume = true

workDir = params.workdir

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda']
}

executor {
    name = 'local'
    cpus = params.cpus
    memory = params.memory
}

process {
    cache = 'lenient'
    errorStrategy = 'terminate'
    resourceLimits = [
        memory: params.memory,
        cpus: params.cpus,
    ]

    withLabel: 'process_single' {
            cpus = 1
            memory = 8.GB
        }    

    withLabel: 'process_low_cpu' {
            cpus = 2
        }
    withLabel: 'process_medium_cpu' {
            cpus = 8
        }
    withLabel: 'process_high_cpu' {
            cpus = 12
        }
    withLabel: 'process_extended_cpu' {
            cpus = 15
        }
    withLabel: 'process_extendedX_cpu' {
            cpus = 25
        }

    withLabel: 'process_low_memory' {
            memory = 8.GB
        }
    withLabel: 'process_lowX_memory' {
            memory = 12.GB
        }
    withLabel: 'process_medium_memory' {
            memory = 36.GB
        }
    withLabel: 'process_high_memory' {
            memory = 72.GB
        }
    withLabel: 'process_extended_memory' {
            memory = 104.GB
        }


    withName: 'METADATA' {
        publishDir = [
            path: { "${params.outdir}/fastqdl/metadata/${samplesheet.accession}" },
            mode: 'copy',
            pattern: "*.tsv"
        ]
        
        maxForks = 1

    }

    withName: 'FASTQDL' {
        publishDir = [
            path: { "${params.outdir}/fastqdl/fastq/" },
            mode: 'copy',
            pattern: "*.{fastq,fq}{.gz}"
        ]

        errorStrategy = 'retry'
        maxRetries = 5
        maxForks = 3

    }

    withName: 'PRE_TRIM_FASTQC' {
        
        publishDir = [
            [path: { "${params.outdir}/${meta.parent}/fastqc/pre_trim/archive" },
            mode: 'copy',
            pattern: "*.zip"],

            [path: { "${params.outdir}/${meta.parent}/fastqc/pre_trim/report" },
            mode: 'copy',
            pattern: "*.html"]
        ]
        
        ext.when = !params.skip_preprocess 
        ext.args = params.fastqc.args

    }

    withName: 'TRIMGALORE' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/trimgalore/trimmed_fastq"},
            mode: 'copy',
            pattern: "*{3prime,5prime,trimmed,val}{,_1,_2}.fq.gz"],

            [path: {"${params.outdir}/${meta.parent}/trimgalore/report"},
            mode: 'copy',
            pattern: "*.txt"],

            [path: {"${params.outdir}/${meta.parent}/trimgalore/summary_command"},
            mode: 'copy',
            pattern: "*.json"]
        ]

        ext.when = !params.skip_preprocess 
        ext.args = params.trimgalore.args

    }
    
    withName: 'POST_TRIM_FASTQC' {
        
        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/fastqc/post_trim/archive"},
            mode: 'copy',
            pattern: "*.zip"],

            [path: {"${params.outdir}/${meta.parent}/fastqc/post_trim/report"},
            mode: 'copy',
            pattern: "*.html"]
        ]
        
        ext.when = !params.skip_preprocess 
        ext.args = params.fastqc.args

    }
    
    withName: 'MULTIQC_ACCESSION' {

        publishDir = [
            path: {"${params.outdir}/multiqc/preprocess/${id.id}"},
            mode: 'copy'
        ]

        ext.when = !params.skip_preprocess 
        ext.args = params.multiqc.args

    }

    withName: 'MULTIQC_STAGE' {

        publishDir = [
            path: {"${params.outdir}/multiqc/per_stage/${id.id}"},
            mode: 'copy'
        ]

        ext.when = params.multiqc.per_stage 
        ext.args = params.multiqc.args

    }
    
    
    withName: 'BISMARK_GENOME_PREPARATION' {

        publishDir = [
                    path: "${params.outdir}/bismark_genome_preparation",
                    mode: 'copy',
                    pattern: "BismarkIndex",
                    enabled: params.bismark_genome_preparation.duplicate
                ]

        ext.when = params.bismark && !params.bismark_genome_preparation.skip 
        ext.args = params.bismark_genome_preparation.args
    
    }
    
    withName: 'BISMARK_ALIGNMENT' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/bismark/alignement/bam"},
            mode: 'copy',
            pattern: "*.bam"],

            [path: {"${params.outdir}/${meta.parent}/bismark/alignement/report"},
            mode: 'copy',
            pattern: "*.txt"]
        ]

        ext.args = params.bismark_alignment.args 
        ext.when = params.bismark 
        
    }

    withName: 'SRX_TO_GSM_MERGING' {
    
        publishDir = [path: {"${params.outdir}/${meta.parent}/SRX_GSM_merged/bam"},
            mode: 'copy',
            pattern: "*.bam"]

        ext.args = null
        ext.when = null

    }

    withName: 'BISMARK_DEDUPLICATION' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/bismark/deduplication/bam"},
            mode: 'copy',
            pattern: "*.deduplicated.bam"],

            [path: {"${params.outdir}/${meta.parent}/bismark/deduplication/report"},
            mode: 'copy',
            pattern: "*.deduplication_report.txt"]
        ]

        ext.args = params.bismark_deduplication.args
        ext.when = params.bismark 
        
    }

    withName: 'PAIRED_BAM_MERGING' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/paired_merged/bam"},
            mode: 'copy',
            pattern: "*.paired_merged.bam"],
        ]

        ext.args = null
        ext.when = params.bismark 
    
    }

    withName: 'BISMARK_METHYLATION_EXTRACTION' {

    publishDir = [
        [path: {"${params.outdir}/${meta.parent}/bismark/methylation_extraction/bedgraph"},
        mode: 'copy',
        pattern: "*.bedGraph*"],

        [path: {"${params.outdir}/${meta.parent}/bismark/methylation_extraction/coverage"},
        mode: 'copy',
        pattern: "*.cov.gz"],

        [path: {"${params.outdir}/${meta.parent}/bismark/methylation_extraction/splitting_report"},
        mode: 'copy',
        pattern: "*_splitting_report.txt"],

        [path: {"${params.outdir}/${meta.parent}/bismark/methylation_extraction/mbias"},
        mode: 'copy',
        pattern: "*.M-bias.txt"],

        [path: {"${params.outdir}/${meta.parent}/bismark/methylation_extraction/methylation_calls"},
        mode: 'copy',
        pattern: "*.txt.gz"],

        [path: {"${params.outdir}/${meta.parent}/bismark/methylation_extraction/cytosine_context_summary"},
        mode: 'copy',
        pattern: "*.cytosine_context_summary.txt"]
    ]

    ext.args = params.bismark_methylation_extraction.args
    ext.when = params.bismark 
    
    }

    withName: 'BISMARK_BAM2NUC' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/bismark/nucleotide_coverage/report"},
            mode: 'copy',
            pattern: "*nucleotide_stats.txt"]
        ]

        ext.args = params.bismark_bam2nuc.args
        ext.when = params.bismark  
    }

    withName: 'TABIX_BIGWIG' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/bedgraph_tabix"},
            mode: 'copy',
            pattern: "*{.sorted.bedGraph.gz,.bedGraph.gz.tbi}"],

            [path: {"${params.outdir}/${meta.parent}/bigwig"},
            mode: 'copy',
            pattern: "*.bw"]
        ]

        ext.args = null
        ext.when = null  
    }

    withName: 'QUALIMAP' {

        publishDir = [
            [path: {"${params.outdir}/${meta.parent}/bamqc_report"},
            mode: 'copy',
            pattern: "*.sorted_stats"],
        ]

        ext.args = null
        ext.when = null  
    }

    withName: 'MULTIQC_POST' {

        publishDir = [
            path: {"${params.outdir}/multiqc/complete/${id.id}"},
            mode: 'copy'
        ]

        ext.when = !params.skip_preprocess 
        ext.args = params.multiqc.args

    }
}


def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${timestamp}.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${timestamp}.txt"
    fields = 'task_id,name,status,exit,attempt,realtime,%cpu,%mem,peak_rss,peak_vmem,cpus,memory,time,submit,duration,workdir,module,container,error_action'
}

dag {
    enabled = true 
    file = "${params.outdir}/pipeline_info/execution_dag_${timestamp}.html"
    direction = 'TB'
    verbose = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${timestamp}.html"
}

manifest {
    name            = 'TODO'
    description     = 'TODO'
    homePage        = 'TODO'
    mainScript      = 'main.nf'
    
    nextflowVersion = '!25.10.4' 
    version         = '0.1dev'

    contributors    = [
        [
            name: '@neorain',
            affiliation: 'FMI',
            email: 'franck.pan@fmi.ch',
            contribution: ['author']
        ]
    ]
}